<div class="container">
<div class="row">
<%= render 'books/list', book: @book %>
<div class="col-md-8 offset-md-1">

  <h1>Books</h1>
  
  
  
  <% @books.each do |book| %>
    <%= link_to user_path(book.user.id) do %>
      <%= image_tag book.user.get_profile_image(100,100) %>
    <% end %>
    <%= link_to book.title, book_path(book.id) %>
    <p>Title</p>
    <span><%= book.title %></span>
    <p>Opinion</p>
    <span><%= book.body %></span>
    
  <% end %>
  
</div>
</div>
</div>